@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap");


.signup-bg {
    --background: linear-gradient(to bottom, #0571d3, #bad4ec);
    overflow: hidden;
    padding: auto;
    margin: auto; 

}
.profile{
    flex-direction: column;
    justify-content: start;
    display: flex;
    height: 92%;
}

.card1{
    width: 95%;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 16px;
    border-radius: 16px;
    height: 15%;
    margin-bottom: 0;
}

.card2{
    width: 95%;
    height: 80%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 16px;
    border-radius: 16px;

}

.profpic{
    margin-left: 10px;
}

.username{
    margin-left: 40px;
    font-size: 1.2em;
    text-align: center;
    flex-direction: row;

    font-family: 'Prompt', sans-serif;
    color: #000000;
}