/* Ensure the main container is full-screen */
.home-container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  /* Ensure the map container is full-screen */
  .map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Behind other elements */
  }
  
  /* Overlay elements */
  .searchbar {
    
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    z-index: 2; /* Above map */
  }

  .searchbar-input.sc-ion-searchbar-md{
    border-radius: 20px;
  }

  .mapboxgl-map {
    height: 894px !important;
    width: 415 !important;
}
  
  .suggestions-list {
    position: absolute;
    top: 80px; /* Below search bar */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    z-index: 2;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Toolbar */
  .toolbar {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    width: 100%;
    z-index: 2;
  }
  